.diff .file {
	margin: 10px;
	padding: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #CCC;
	-webkit-box-shadow: 1px 1px 2px #DDD;
	overflow-x: auto;
	overflow-y: hidden;
}

.diff table {
	width: 100%;
	border: 0px;
	border-spacing: 0px;
	padding: 0px;
	border-collapse:collapse;
	white-space: pre;
}


.diff .fileHeader {
	margin-top: -5px;
	padding-bottom: 1px;
	font-size: 1.2em;
	font-weight: bold;
}

.diff .file .diffContent {
	white-space: pre;
	font-family: Menlo, Monaco;
}

.diff .lineno {
	float: left;
	padding-left: 4px;
	padding-right: 4px;
	background-color: #ECECEC;
	color: #A9A9A9;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-top: 0px;
	border-bottom: 0px;
	width: 1px; /*force fixed width to longest line no length*/
	text-align: right;
}

.diff .lines {
	overflow: scroll;
}

.diff .hunkheader {
  background-color: #f7f7f7;
  color: #bbb;
}


.diff .delline {
  background-color: #FEE;
  color: #B00;
}

.diff .addline {
  background-color: #DFD;
  color: #080;
}

.diff .whitespace {
	background-color: rgba(255,0,0,0.5);
}

#CurrentHunk {
	border-left: 5px solid black;
}