
.comments {
    font-family: helvetica, arial;
}

/* http://www.cssbuttongenerator.com/ */
.comments-wrapper button {
	background-color:#ffffff;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:arial;
	font-size:15px;
	font-weight:normal;
	text-decoration:none;
}.comments-wrapper button:hover {
	background-color:#f6f6f6;
}.comments-wrapper button:active {
	position:relative;
	top:1px;
}


.comment {
    white-space: normal;
    width: 900px;
/*    padding: 8px;*/
    margin-left: 18px;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    background: white;
    border: 1px solid #D3D3D3;
}

.comment .header {
    border-bottom: 1px solid #D3D3D3;
    position: relative;
    padding: 4px;
    height: 2.0em;
}

.comment .header .timestamp {
    position: relative;
    float: left;
/*    margin-left: 8px;*/
    color: #AEAEAE;
    padding: 0;
    height: 2.0em; /* same as header to center vertically */
    line-height: 2.0em; /* ditto */
    white-space: pre;
}

.comment .timestamp-wrapper {
    margin-left: 8px;
}

.comment .header button {
    padding: 2px 8px;
    color: #AEAEAE;
    border-color: white;
    float: right;
    position: relative;
}

.comment .header button:hover {
    padding: 2px 8px;
    color: #666666;
    border-color: #dcdcdc;
}

.comment .comment-html {
    padding: 8px;
}

.inline-form button {
	padding: 6px 8px;
}

.comment .comment-content {
    padding: 0;
    padding-left: 12px;
    padding-right: 12px;
}

.comments-row {
    border: 1px solid #D3D3D3;
    border-right: none;
}

.inline-form {
    width: 900px;
    position: relative;
    margin-left: 18px;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    border-color: #D3D3D3;
    border: 1px solid #D3D3D3;
}

.inline-form textarea {
    width: 100%;
    max-width: 100%;
    height: 120px;
    font-size: 1.0em;
    padding: 0;
    margin: 0;
    border: none;
    border-bottom: 1px solid;
    border-color: #D3D3D3;
}

.inline-form textarea:focus {
    outline: none;
}

.inline-form .button-container {
    position: relative;
    margin: 8px;
}

.inline-form .cancel-button {
    float: left;
}

.inline-form .submit-button {
    float: right;
}

.inline-form .update-button {
    float: right;
}

.edit-comment-form {
    width: 856px;
}

/*.add-comment-row */.stripe {
    background-image: url('/images/stripe.png');
    background-repeat: repeat-x repeat-y;
    border: 1px solid #D3D3D3;
}

/*
.inline-form button {
    -moz-box-shadow: 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: 0px 1px 0px 0px #ffffff;
    box-shadow: 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6) );
    background:-moz-linear-gradient( center top, #ffffff 5%, #f6f6f6 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6');
    background-color:#ffffff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#666666;
    font-family:Arial;
    font-size:1.0em;
    font-weight:bold;
    padding:6px 8px;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;
}.inline-form button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff) );
    background:-moz-linear-gradient( center top, #f6f6f6 5%, #ffffff 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff');
    background-color:#f6f6f6;
}.inline-form button:active {
    position:relative;
    top:1px;
}*/