.info-block {
    font-size: 14px;
    background-color: #ECECEC;
    color: darkgrey;
    line-height: 150%;
    width: 1000px;
    margin: auto;
    -webkit-box-shadow: 1px 1px 2px #DDD;
    border: 1px solid;
    white-space: pre;
	font-family: Menlo, Monaco;
	padding: 12px;
	margin-bottom: 12px;
}

.info-block #subject-and-body {
    color: black;
}

.file-links {
    width: 1024px;
    margin: 24px auto;
    border: 0 solid #A9A9A9;
    border-width: 1px 1px 0 1px;
    line-height: 2em;
}

.file-links p {
    border: 0 solid #A9A9A9;
    border-width: 0px 0px 1px 0;
    font-size: 1.1em;
    margin: 0;
    padding: 0 0 0 8px;
}

.file-links p:nth-child(even) {
    background: #ECECEC;
}

.file-links p:nth-child(odd) {
    background: white;
}

.file-links img {
    margin: 0 8px 0 0;
    padding: 0;
}

.file-links a {
    color: #3F3F3F;
    font-weight: 400;
    text-decoration: none;
}

.file-links a:visited {
/*    color: darkblue;*/
}

.file-links a:hover {
    text-decoration: underline;
}