!!! strict
%html(lang="en")
    %head
        %title = "commit #{sha} in #{repo}"
        
        %link{rel: "stylesheet", type: "text/css", href: "/commit.css"}
        %link{rel: "stylesheet", type: "text/css", href: "/diff.css"}
        
        %script{type: "text/javascript", src: "http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"}
        %script{type: "text/javascript", src: "/diffHighlighter.js"}
        %script{type: "text/javascript", src: "/showdown.js"}
        
        :javascript
            function getCommitJSON() {
                $.getJSON("/api/git-show/#{repo}/#{sha}", function(data) {
                  $('.loading').hide();
                  
                  // populate info-block
                  $('.info-block').fadeIn(650);
          
                  $('#sha').append( data.sha );
                  $('#author-name-and-email').append( data['author-name-and-email'] );
          
                  var showdown = new Showdown.converter();
                  $('#subject-and-body').append( showdown.makeHtml(data['subject-and-body']) );
          
                  $('#author-date').append( new Date( data['author-date'] * 1000 ).toLocaleString() );
          
                  // markup diff tables
                  var highlighter = new DiffHighlighter.highlighter();
                  highlighter.highlightDiff(data.diff, $('#diff-content').get(0));
          
                  // kind of hacky but done w/ trying to get a div to float outside of the table
                  // next to the selected row to click for the time being
                  $('.diff .commentable').dblclick(function() {
                     var file = $(this).closest('.file').get(0);
                     var file_idx = $(this).closest('.file').index();
                     var row_idx = $('#' + file.id + ' .commentable').index(this);
             
                     // alert('You double-clicked row: ' + row_idx + ' in file: ' + file_idx + ' with id: ' + file.id);
             
                     // add comment form block
                     var comment_form = $('#templates .add-comment-form');
                     var target_row = $(this).closest('tr');
                     target_row.after(
                         '<tr class="add-comment-row"><td class="stripe" colspan=2></td><td class="add-comment-cell"> '
                         + comment_form.html()
                         + '</td></tr>');
                     // $(target_row).next().hide().fadeIn(100);
                     var comment_row = $(target_row).next();
                     
                     // hook up comment form buttons
                     $('.cancel-button', comment_row).click( function() {
                        $(comment_row).remove();
                        return false; // don't reload page
                     });
                     
                     $('.submit-button', comment_row).click( function() {
                         $(comment_row).remove();
                         return false; // don't reload page
                      });
                     
                     // clear any text selection after the double-click
                     if (window.getSelection) {
                         window.getSelection().removeAllRanges();
                     }
                     else if (document.selection) {
                         document.selection.empty();
                     }
                  });
          
                }).error(function(qXHR, textStatus, errorThrown) {
                    $('.loading').html( 'error loading commit: ' + errorThrown );
                });
          }

    %body{ onload: "getCommitJSON()" }
        .loading &= "loading..."
        .wrap
            .info-block{style: 'display: none'}
                    #sha                   &= 'commit:      '
                    #author-name-and-email &= 'author:      '
                    #author-date           &= 'author date: '
                    %span &= 'message:'
                    #subject-and-body
                    
            .diff-block
                #diff-content
        #templates{style: 'display: none'}
            .add-comment-form
                .form-container
                    %form
                        %textarea
                        .button-container
                            %button.cancel-button &= 'Discard'
                            %button.submit-button &= 'Submit'
                            %div{style: 'clear: both;'}
                            
                