!!! strict
%html(lang="en")
    %head
        %title = "commit #{sha} in #{repo}"
        
        %link{rel: "stylesheet", type: "text/css", href: "/commit.css"}
        %link{rel: "stylesheet", type: "text/css", href: "/diff.css"}
        
        %script{type: "text/javascript", src: "http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"}
        %script{type: "text/javascript", src: "/diffHighlighter.js"}
        %script{type: "text/javascript", src: "/showdown.js"}
        
        :javascript
          function getCommitJSON() {
            $.getJSON("/api/git-show/#{repo}/#{sha}", function(data) {
              $('#sha').html( data.sha );
              $('#author-name-and-email').html( data['author-name-and-email'] );
              $('#subject-and-body').html( data['subject-and-body'] );
              $('#author-date').html( data['author-date'] );
              var highlighter = new DiffHighlighter.highlighter();
              highlighter.highlightDiff(data.diff, $('#diff-content').get(0));
            })
            .error(function(qXHR, textStatus, errorThrown) {$('#diff-content').html( 'Error loading commit: ' + errorThrown )} );
          }

    %body{ onload: "getCommitJSON()" }
        .wrap
            #sha
            #author-name-and-email
            #author-date
            #subject-and-body
            #diff-content &= "loading..."