.info-block {
    font-size: 14px;
    background-color: #ECECEC;
    color: darkgrey;
    line-height: 150%;
    width: 920px;
    margin: auto;
    -webkit-box-shadow: 1px 1px 2px #DDD;
    border: 1px solid;
    white-space: pre;
	font-family: Menlo, Monaco;
	padding: 12px;
	margin-bottom: 12px;
}