.diff {
    font-size: 14px;
    margin: 0 auto;
    width: 1024px;
}

.diff .file {
/*  margin: 10px;*/
	padding: 10px;
/*  -webkit-border-radius: 10px;*/
	border: 1px solid #CCC;
    -webkit-box-shadow: 1px 1px 2px #DDD;
	overflow-x: auto;
	overflow-y: hidden;
	margin-bottom: 12px;
	position: relative;
}

.diff table {
	width: 100%;
	border: 0px;
	border-spacing: 0px;
	padding: 0px;
	border-collapse:collapse;
	white-space: pre;
}

.diff .fileHeader {
	margin-top: -5px;
	padding-bottom: 1px;
	font-size: 1.2em;
	font-weight: bold;
}

.diff .file .diffContent {
	white-space: pre;
	font-family: Menlo, Monaco;
}

.diff .lineno {
	padding-left: 4px;
	padding-right: 4px;
	background-color: #ECECEC;
	color: #A9A9A9;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-top: 0px;
	border-bottom: 0px;
	width: 1px; /*force fixed width to longest line no length*/
	text-align: right;
}

.diff .noteRow {
    font-family: Arial, Helvetica;
	background-color: #FAFAFA;
	border: 2px solid #DDDDDD;
	text-align: right;
	padding: 4px;
}

.diff .noteMessage {
	color: black;
	border: 2px solid #DDDDDD;
	white-space: pre-wrap;
	text-align: left;
	padding-left: 8px;
}

.diff .lines {
	overflow: scroll;
}

.diff .hunkheader {
  background-color: #f7f7f7;
  color: #bbb;
}

.diff .delline {
  background-color: #FEE;
  color: #B00;
}

.diff .commentable:hover {
    background-color: #D9C1D2;
    color: #360C38;
}

.diff .addline {
  background-color: #DFD;
  color: #080;
}

.diff .whitespace {
	background-color: rgba(255,0,0,0.5);
}

.add-comment-cell {
    margin: 12px;
    border: 1px solid lightgray;
}

.add-comment-cell .form-container {
    margin: 12px;
    line-height: 1.5em;
    margin-right: auto;
    width: 900px;
    position: relative;
}

.add-comment-cell textarea {
    width: 100%;
    height: 100px;
}

.add-comment-cell .button-container {
    width: 100%;
    position: relative;
}

.add-comment-cell .cancel-button {
    float: left;
    font-size: 1.2em;
}

.add-comment-cell .submit-button {
    float: right;
    font-size: 1.2em;
}

.add-comment-row .stripe {
    background-image: url('/stripe.png');
    background-repeat: repeat-x repeat-y;
}
#CurrentHunk {
	border-left: 5px solid black;
}
